.DS_Store
app.settings
terminal4.tsetting
terminal3.tsetting
terminal2.tsetting
terminal.tsetting
rTerminal/app/win/rTerminal
rTerminal/app/linux/rTerminal
rTerminal/app/macos/rTerminal

/rterminal/target/
