.root{
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana";
    /*-fx-base: rgb(224, 255, 255);*/
    -fx-background: rgb(240, 248, 255);
    /*-fx-background: rgb(95, 158, 160);*/
}

Alert{
    -fx-font-size: 19pt;
    -fx-font-family: "Verdana";
    -fx-background: rgb(240, 248, 255);
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 3px 0 0;
}

/*.button:hover{     
   -fx-effect: dropshadow( three-pass-box, rgb(32, 115, 178), 10.0, 0.0, 0.0, 0.0);
   -fx-base: rgb(32, 115, 178);
   -fx-cursor:hand;
 }*/

/*.dialog-pane{
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana";  
 }
 
 *Costumization of The Bar where the buttons are located*
.dialog-pane > .button-bar > .container {
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana"; 
}

.dialog-pane > .content.label {
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana"; 
}

*Costumization of DialogPane Header*
.dialog-pane:header .header-panel {
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana"; 
}

.dialog-pane:header .header-panel .label{
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana"; 
}*/


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana"; 
/*   -fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;*/
 }

.dialog-pane .button:hover{     
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana"; 
 }

.TableView{
    -fx-font-family: "Monospace";
}

.Label{
    -fx-font-size: 8pt;
    -fx-font-family: "Verdana";   
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-font-size: 8pt;
    -fx-font-weight: normal;
    -fx-font-family: "Verdana";
}

